@model PetShopNew.Models.Comments
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentsView</title>
</head>
<body>
</body>
</html>
