@model PetShopNew.Models.Form
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormInformation</title>
</head>
<body>
    HELLOW @Model.UserName @Model.Password
</body>
</html>
