@model IEnumerable<PetShopNew.Models.Animals>

@{
    ViewData["Title"] = "Category";
}

<h1>Category</h1>
<body>

<a asp-action="AnimalsIndex" asp-controller="AnimalController">SHOW ANIMALS WINDOW</a>

<div>@Html.DisplayNameFor(n => n.Name): </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Number of Comments</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var tableCell in Model)
            {
                <tr>

                    <td>@tableCell.AnimalsId</td>
                    <td>@tableCell.Name</td>
                    @*<td>@tableCell.Description</td>*@


                </tr>
            }

        </tbody>
        </table> 

</body>

